/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
!/storage/.keep
/public/assets
/node_modules
.byebug_history
*.swp
*.swo
.DS_Store
.env
.env.*
/vendor/bundle
/vendor/cache
/vendor/ruby*
!/vendor/javascript
!/tmp/pids/.keep
!/tmp/storage/.keep
/config/master.key
