.page-container{
  background-color: #fff;
  max-width: 760px;
  margin: 0 auto;
  padding: var(--space-4);
}

body.has-tabbar{
  padding-bottom: calc(var(--tabbar-height) + env(safe-area-inset-bottom));
}

